* {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.incremental {
	cursor: pointer;
}
.character {
	border: 1px solid black;
	padding: 5px;
	position: relative;
	width: 95%;
	margin: 5px auto;
	min-width: 650px;
	clear: both;
	min-height: 254px;
}
.npc {
}
.pc {

}
.action-grp {
	display: flex;
	margin-bottom: 10px;
}
.action-grp .action-grp {
	margin-bottom: 0;
}
.action {
	border: 1px solid black;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	border-right-width: 0;
	width: 190px;
}
.action-grp.last > .action:last-child,
.action.last {
	border-right-width: 1px;	
}
.character-name {
	margin: 0 0 10px 0;
	font-size: 18px;
}
.initiative {
	font-weight: normal;
}
.status-mods {
	display: flex;
	align-content: stretch;
}
.modifier {
	border: 1px solid black;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	border-right-width: 0;
	width: 190px;
	flex-wrap: wrap;
}
.modifier:last-child {
	border-right-width: 1px;	
}
.modifier.on {
	background-color: #99ff99;
}
.end-turn {
	position: absolute;
	right: 10px;
	top: 10px;
}
.statline {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
}
.statline li {
	float: left;
	width: 30px;
	text-align:center;
}
.statline.title li {
	background-color: #ccc;
	border-bottom: 2px solid #000;
}
body {
	font-family: verdana;
	font-size: 16px;
	overflow-y: scroll;
}
button {
	font-family: verdana;
	font-size: 11px;
}
.unconcious {
	color: red;
}
.character-cards {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
}
.character-card {
	flex-basis: 32%;
	padding: 10px;
}
.character-action-categories {
	display: flex;
}
.action-icon {
	width: 50px;
	border: 1px solid black;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	border-right-width: 0;
}
.action-icon:last-child {
	border-right-width: 1px;	
}
.character-cards.disabled {
	background-color: #bbb;
}
.selected {
}
.acting {
	background-color: #ccffcc;
}
.disable-stun-condition {
	color: #999;
}
.edge {
	color: #999;
}
.edging {
	color: inherit;
}