.incremental {
	cursor: pointer;
}
.character {
	border: 1px solid black;
	padding: 5px;
	position: relative;
	width: 95%;
	margin: 5px auto;
	min-width: 650px;
	clear: both;
	min-height: 254px;
}
.character-card {
	float: left;
	width: 500px;
	min-width: auto;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}
.npc {
}
.pc {

}
.action-grp {
	margin: 5px 0;
	clear: both;
}
.character-name {
	margin: 0 0 10px 0;
	font-size: 18px;
}
.initiative {
	font-weight: normal;
}
.modifier {
	padding: 3px 5px;
	border: 0;
	background-color: lightgray;
	width: 150px;
	margin-right: 10px;
	display: block;
	float: left;
	margin-top: 4px;
	text-align: center;
	font-size: 11px;
	cursor: pointer;
}
.modifier.on {
	background-color: #99ff99;
}
br {
	clear: both;
	height:0px;
}
button.fixed-wide {
	width: 75px;
}
.end-turn {
	position: absolute;
	right: 10px;
	top: 10px;
}
.character-card {
	background-color: #999;
}
.canAct {
	background-color: #fff;
}
.active {
	background-color: #c0ffc0;
}
.statline {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
}
.statline li {
	float: left;
	width: 30px;
	text-align:center;
}
.statline.title li {
	background-color: #ccc;
	border-bottom: 2px solid #000;
}
body {
	font-family: verdana;
	font-size: 16px;
	overflow-y: scroll;
}
button {
	font-family: verdana;
	font-size: 11px;
}
.action-icon {
	width: 50px;
	border: 1px solid black;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}
.smart-link-toggle {
	width: 136px;
}
.gun-label {
	width: 150px;
}
.disabled-characters {
	background-color: gray;
}
.unconcious {
	color: red;
}